body{
    background-color: rgb(237, 242, 245);
}
.form {
    justify-content: center;
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 170px 0;
}
h1{
    color:  #c51126;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}
h3{
    color: #230585;
}
button {
    display: block;
    margin: 30px;
    width: 260px;
    height: 36px;
    background-image: linear-gradient(45deg, #230585, #c51126);
    border-radius: 20px;
    border-color: none;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}