@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
    --orange:#ff7800;
    --black:#130f40;
    --light-color:#cabfbf;
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --border:.2rem solid rgba(0,0,0,.1);
    --outline:.1rem solid rgba(0,0,0,.1);
    --outline-hover:.2rem solid rgba(0, 0, 0, 0.1);
}

*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;



}

body{
    background: #eee;
}



.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: #000000;
    cursor: pointer;

}





.btn:hover{
    background-color: #140996;
    color: #eee;







}
.header{
position: fixed;
top: 0; left: 0; right: 0;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
padding: 2rem 9%;
background: #ffffff;
box-shadow: var(--box-shadow);
height: 80px;
}

.header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color:black;
    width:140px;
    margin-left: -20px;
    
}

.header .logo i{
    color: #140996;
}

 .navbar a{
    font-size: 1.8rem;
    margin: 0 1rem;
    color: #130f40;
    text-decoration: none;
    font-weight: 500;
    
    /* padding: 30px; */
}

.navbar a{
    font-size: 1.8rem;
    margin: 0 1rem;
    color: #130f40;
    text-decoration: none;
    font-weight: 500;
    
    /* padding: 30px; */
}


.navbar a:hover{
    color: rgb(13, 13, 152);
    
}

 .icons div{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    background-image: linear-gradient(45deg, #230585, #c51126);
    color: #ffffff;
    font-size: 2rem;
    margin-left: .3rem;
    text-align: center;
}
 .icons div:hover{
    background-color: #140996;
    color: #000000;
    cursor: pointer;
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 110%;
    right:-110%;
    width: 50rem;
    height: 4.5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
   
}

.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: black;
    padding: 0 1.5rem;
   
    

}

.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;

}
.header .search-form label:hover{
    color: #140996;



}





.header .search-form.active{
    right:2rem;
    transition: .4s linear;


}











.header .shopping-cart{
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 40rem;
    background: #fff;

}

.header .shopping-cart.active{
    right:2rem;
    transition: .4s linear;

}


.header .shopping-cart .box{
    display: flex;
    align-items: center;
    gap:1rem;
    position: relative;
    margin: 1rem 0;
}

.header .shopping-cart .box img{
    height: 10rem;
    width: 15rem;
}







.header .shopping-cart .box .fa-trash{
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translate(-50%);
}


.header .shopping-cart .box .fa-trash:hover{
    color: #140996;

}






.header .shopping-cart .box .content h3{
    color: #000000;
    font-size: 1.7rem;
    padding-bottom: 1rem;

}


.header .shopping-cart .box .content span{
    color: #938f8f;
    font-size: 1.6rem;
  
}


.header .shopping-cart .box .content .quantity{
    padding-left: 1rem;
}





.header .shopping-cart .total{
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: #000000;
}


.header .shopping-cart .btn{
    display: block;
    text-align: center;
    margin: 1rem;
}





















.profile-dropdown {
    position: relative;
    width: fit-content;
  }
  
  .profile-dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 17px;
    font-weight: 600;
    width: 150px;
    border-radius: 50px;
    color:#050505;
  
  
    cursor: pointer;
    border:1px;
  
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in,
      border 0.3s;
  }
  
  .profile-dropdown-btn:hover {
    background-color:#beb7b7;
    box-shadow:#222
  }
  
  .profile-img {
    position:relative;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: url(../images/profile-pic.jpg);
    background-size: cover;
  }
  
  .profile-img i {
    position: absolute;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.5rem;
    color:#1fa75d;
  }
  
  .profile-dropdown-btn span {
    margin: 0 0.5rem;
    margin-right: 0;
  }
  
  .profile-dropdown-list {
    position: absolute;
    top: 68px;
    width: 220px;
    right: 0;
    background-color:rgb(201, 192, 192);
    opacity: 90%;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: max-height 0.5s;
    
  }
  
  .profile-dropdown-list hr {
    border: 0.5px solid;
    border-color: #0c0c0c;
  }
  
  .profile-dropdown-list.active {
    max-height: 500px;
  }
  
  .profile-dropdown-list-item {
    padding: 0.5rem 0rem 0.5rem 1rem;
    transition: background-color 0.2s ease-in, padding-left 0.2s;
    
  }

  
  .profile-dropdown-list-item a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color:#222;
    padding-top: 25px;
  }
  
  .profile-dropdown-list-item a i {
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: var(--secondary);
    color:#000000;
    line-height: 2.3rem;
    text-align: center;
    margin-right: 1rem;
    border-radius: 50%;
    transition: margin-right 0.3s;
  }
  
  .profile-dropdown-list-item:hover {
    padding-left: 1.5rem;
    background-color: var(--secondary-light);
  }
  












  @media(max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
  }






  @media(max-width:768px){

    #menu-btn{
        display: inline-block;
    }
    .header .searchform{
        width: 90%;
    }
   .header .navbar{
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;

   }

   .header .navbar.active{
    right: 2rem;
    transition: .4s linear;
   }
   .header .navbar a{
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
   }
}









  @media(max-width:450px){
    html{
        font-size: 50%;
    }
}