* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 20px;
}

h1 {
  text-align: center;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: calc(28% - 20px);
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.card:hover {
  background-color: #e0e0e0;
}

.card img {
  
  height: 100px;
  width: 80px;
  background-color:none;
}

.card h1 {
  margin-top: 10px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}
select, input {
  margin-right: 10px;
}

button {
  cursor: pointer;
}

#filteredItems {
  margin-top: 20px;
}

/* Style for each displayed item /
div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

/ Responsive design */
@media (max-width: 600px) {
  form {
      display: flex;
      flex-wrap: wrap;
  }

  select, input, button {
      flex: 1 0 100%;
      margin-bottom: 10px;
  }
}